body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url("svgs/background.svg");;
  background-repeat: repeat;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* Navigation for the page */

nav ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

nav ul li {
  padding: 1.5em;
}

nav ul li:hover a {
  color: #F9F871;
}

.nav-img {
  width: 25px;
  padding-right: 15px;
  vertical-align: middle;
  overflow: visible;
}

path {
  fill: #39ADD1;
  transition: transform .5s ease-in;
  transform-origin: 50% 50%;
}

nav ul li:hover path {
  fill: #F9F871;
  transform: scale(1.5);
}

/* Logo */

#logo {
  width: 140px;
  height: 120px;
  transition: transform .5s ease-in;
  overflow: visible;
}

#logo:hover {
  transform: scale(1.3);
}

.st0 {
  fill: #BA8058;
}

.st1 {
  display: none;
  fill: #EAAA7F;
}

.st2 {
  fill: #F4C6A6;
}

.logoText {
  display: inline-block;
}

/* Corgi images on the page */

.corgiExample {
  display: none;
}

.corgiContainer {
  display: flex;
  flex-direction: column;
}

.corgis {
  width: 210px;
  height: 210px;
  margin: 15px auto;
  overflow: visible;
}

.body {
  fill: currentColor;
}

.nose_and_eyes {
  fill: #2D3339;
}
.brows {
  fill: #DA8058;
}
.white {
  fill: #FBFEFF;
}

.corgiOne {
  color: #A67B5B;
}

.corgiTwo {
  color: #FFDEAD;
}

.corgiThree {
  color: #8B4513;
}

.corgiFour {
  color: #52595F;
}

.corgiOne,
.corgiTwo,
.corgiThree,
.corgiFour {
  transition: transform .5s ease-out;
  transform-origin: 50% 50%;
}

.corgiOne:hover,
.corgiTwo:hover,
.corgiThree:hover,
.corgiFour:hover {
  transform: rotate(20deg);
}

.corgiText {
  fill: #ba8058;
}

/* media queries */

@media (min-width: 728px) {
    nav ul {
      flex-direction: row;
    }
    .corgiContainer {
      flex-direction: row;
      padding: 0 8%;
    }
}

@media (min-width: 425px) {
    .corgis {
      width: 170px;
      height: 170px;
      display: inline-block;
    }
    .logoText {
      display: none;
    }
    .st1 {
      display: inline-block;
    }
}
