body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url("svgs/background.svg");;
  background-repeat: repeat;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* Navigation for the page */

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 1.5em;
}

nav ul li a:hover {
  color: #F9F871;
  fill: #F9F871;
}

.nav-img {
  width: 25px;
  padding-right: 5px;
  vertical-align: middle;
}

.st0 {
  fill: #39ADD1;
}
.st0:hover {
  fill: #F9F871;
}

/* media queries */

@media (max-width: 728px) {
    nav ul {
      flex-direction: column;
    }
}
